<div class="big-container">
  <div class="container-index">
    <div class="search-bar">
    <%= render 'layouts/search_header' %>
    </div>

  <div class="buddies-card">
    <table>
      <tbody>
        <% @buddies.each do |buddy| %>
          <div class="card" style="width: 18rem;" id="card-buddy">
            <div class="card-buddy-image">
              <%= cl_image_tag buddy.image.key, height: 300, width: 300, crop: :fill, class: "card-img-top" %>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between w-100">
                <h5 class="card-title"><%= buddy.first_name %></h5>
                <h5 class="card-skill"><%= buddy.skill %></h5>
              </div>
              <p class="card-text"><%= buddy.description %></p>
              <%= link_to 'Show', buddy_path(buddy), class: 'btn btn-info' %>
              <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
            </div>
          </div>
        <% end %>
      </tbody>
    </table>
  </div>
    <%= link_to 'Add a new Buddy', new_buddy_path, class: 'btn btn-primary add-new-buddy-btn' %>
  </div>

</div>
