<div class="header text-center">
<h2>Create a booking</h1>
</div>
<%= simple_form_for ([@buddy, @booking]) do |f|%>
<%= f.input :start_date, as: :date, html5: true, input_html:{class: 'input-box'}, label_html: {class: 'label-form'}  %>
<%= f.input :end_date, as: :date, html5: true, input_html:{class: 'input-box'}, label_html: {class: 'label-form'}  %>
<%= f.input :address, as: :string, input_html:{class: 'input-box'}, label_html: {class: 'label-form'}  %>
<div class="submit mb-3">
<%= f.button :submit, input_html: { class: 'submit' } %>
</div>
<% end %>

<div class="card-image">
  <% if @buddy.present? && @buddy.image.present? %>
    <%= image_tag @buddy.image, class: "image-booking-index", alt: "#{@buddy.first_name} #{@buddy.last_name}" %>
  <% else %>
    <%= image_tag "default_image.png", class: "image-booking-index", alt: "Default Image" %>
  <% end %>
</div>
