<h1>Create a booking</h1>
<%= simple_form_for ([@buddy, @booking]) do |f|%>
<%= f.input :start_date, as: :date, html5: true  %>
<%= f.input :end_date, as: :date, html5: true  %>
<%= f.input :address, as: :string  %>
<div class="submit mb-3">
<%= f.button :submit, input_html: { class: 'submit' } %>
</div>
<% end %>

<div class="card-image">
  <% if @buddy.present? && @buddy.image.present? %>
    <%= image_tag @buddy.image, class: "image-booking-index", alt: "#{@buddy.first_name} #{@buddy.last_name}" %>
  <% else %>
    <%= image_tag "default_image.png", class: "image-booking-index", alt: "Default Image" %>
  <% end %>
</div>
